header{
    background-color: rgb(118, 20, 33);
}
article{
   background-color: rgb(59, 5, 29);
    height: 210px;
    width: 55%;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}
footer{
    background-color: rgb(67, 11, 44);
    margin-top: 70px;
    height: 70px;
}

    
#insta {
    font-size: 20px;
    margin-left: 300px;
    color: white;
}

footer, h4{
    color: white;
    text-align: center;
    margin-top: 20px;
}
#gith{
    font-size: 20px;
    
    color: white;
}
button:hover{
    background-color: rgb(34, 178, 144);

    }
    button{
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: 15px;
        border: none;
    }
   
aside{
    background-color: rgb(149, 15, 15);
   position: relative;
    width: 250px;
    height: 250px;
margin-top: 40px;
    margin-right: 70px;
    display: inline-block;
    margin-left: 150px;

   
}
#quadrado1{
    background-color: rgb(118, 0, 12);
    width: 40%;
    height: 200px;
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
}
#quadrado2{
    background-color: rgba(73, 6, 22, 0.886);
    width: 40%;
    height: 200px;
    margin-top: 40px;
    margin-left: 50px; margin-left: 50px;
    display: inline-block;
}
ul, li{
    display: inline-block;
    text-decoration: none;
    margin-left: 60px;
    color: white;
    
    
}

header {
    color: white;
    
}
.titulo{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
    padding-top: 20px;
}
